<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>
      Welcome to {{ title }}!
    </h1>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a mat-raised-button
       routerLink="home"
       routerLinkActive
       #home="routerLinkActive"
       [color]="home.isActive ? '': 'primary'">
      <mat-icon>home</mat-icon>
      Game of Thrones
    </a>
    <a mat-raised-button
       routerLink="characters"
       routerLinkActive
       #characters="routerLinkActive"
       [color]="characters.isActive ? '': 'primary'">
      <mat-icon>list</mat-icon>
      Characters
    </a>
  </mat-toolbar-row>
</mat-toolbar>
