<mat-card>
  <mat-card-content>
    <mat-form-field>
      <input type="text" placeholder="Character" matInput [(ngModel)]="character.name">
    </mat-form-field>
    <mat-form-field>
      <input type="text" placeholder="Character" matInput [(ngModel)]="character.status">
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    <span
      matBadge="{{ character.id }}"
      matBadgeOverlap="false"
      matBadgePosition="above after">{{ character.name | uppercase }}</span>
  </mat-card-title>

  <mat-card-content>
    <span>status: </span>{{ character.status }}
  </mat-card-content>
</mat-card>
